<div class="agencia-edit">
  <h1>{{ title }}</h1>

  <p *ngIf="this.id && !agencia"><em>Carregando...</em></p>

  <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="nome">Nome Agência:</label>
      <br />
      <input type="text" id="nome"
             formControlName="nome" required
             placeholder="Nome..."
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="cidade">Cidade:</label>
      <br />
      <input type="text" id="cidade"
             formControlName="cidade" required
             placeholder="Cidade..."
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="idCorretor">ID Corretor:</label>
      <input type="number" id="idCorretor"
             formControlName="idCorretor" required
             placeholder="idCorretor"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="idImovel">ID Imóvel:</label>
      <br />
      <input type="number" id="idImovel"
             formControlName="idImovel" required
             placeholder="idImovel"
             class="form-control"/>
    </div>

    <div class="form-group" commands>
      <button type="submit"
              (click)="onSubmit()"
              class="btn btn-success">
        Gravar
      </button>
      <button type="submit"
              [routerLink]="['/agencias']"
              class="btn">
        Cancelar
      </button>
    </div>
  </div>
</div>
