<h1>Agências</h1>

<p>Lista de agências</p>

<p *ngIf="!agencias"><em>Carregando...</em></p>

<div class="commands text-right" *ngIf="agencias">
  <button type="submit"
          [routerLink]="['/agencia']"
          class="btn-primary btn-success">
    Adicionar agência
  </button>
</div>

<table mat-table [dataSource]="agencias"
       class="table-striped mat-elevation-z8"
       [hidden]="!agencias">

  <!-- Coluna Id -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let agencia">{{ agencia.id }}</td>
  </ng-container>

  <!-- Coluna nome -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let agencia">
      <a [routerLink]="['/agencia', agencia.id]">{{ agencia.nome }}</a>
    </td>
  </ng-container>

  <!-- Coluna cidade -->
  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef>Cidade</th>
    <td mat-cell *matCellDef="let agencia">{{ agencia.cidade }}</td>
  </ng-container>

  <!-- ID Corretor -->
  <ng-container matColumnDef="idCorretor">
    <th mat-header-cell *matHeaderCellDef>ID Corretor</th>
    <td mat-cell *matCellDef="let agencia">{{ agencia.idCorretor }}</td>
  </ng-container>

  <!-- ID Imóvel -->
  <ng-container matColumnDef="idImovel">
    <th mat-header-cell *matHeaderCellDef>ID Imóvel</th>
    <td mat-cell *matCellDef="let agencia">{{ agencia.idImovel }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
</table>


<!-- Tabela sem o uso de Angular Material
<table class="table table-striped" aria-labelledby="tableLabel"
       [hidden]="!agencias">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Cidade</th>
      <th>ID Corretores</th>
      <th>ID Imovéis</th>
    </thead>
    <tbody>
      <tr *ngFor="let agencia of agencias">
        <td>{{ agencia.id }}</td>
        <td>{{ agencia.nome }}</td>
        <td>{{ agencia.cidade }}</td>
        <td>{{ agencia.idCorretor }}</td>
        <td>{{ agencia.idImovel }}</td>
      </tr>
    </tbody>
</table>
-->
