<h1>Imovéis</h1>

<p>Lista Imovéis</p>

<p *ngIf="!imoveis"><em>Carregando....</em></p>

<table class="table table-striped table-bordered" aria-labelledby="tableLabel"
       [hidden]="!imoveis">
    <thead>
      <th>ID</th>
      <th>Agência</th>
      <th>Dono</th>
      <th>Endereço</th>
      <th>Preço</th>
    </thead>
    <tbody>
      <tr *ngFor="let imovel of imoveis">
        <td>{{ imovel.id }}</td>
        <td>{{ imovel.idAgencia }}</td>
        <td>{{ imovel.idDono }}</td>
        <td>{{ imovel.endereco }}</td>
        <td>{{ imovel.preco }}</td>
      </tr>
    </tbody>
</table>
