<h1>Donos</h1>

<p>Lista de Donos</p>

<p *ngIf="!donos"><em>Carregando...</em></p>

<div class="commands text-right" *ngIf="donos">
  <button type="submit"
          [routerLink]="['/dono']"
          class="btn-primary btn-success">
    Adicionar dono
  </button>
</div>

<table mat-table [dataSource]="donos"
       class="table-striped mat-elevation-z8"
       [hidden]="!donos">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let dono">
      <a [routerLink]="['/dono', dono.id]">{{ dono.nome }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th mat-header-cell *matHeaderCellDef>Idade</th>
    <td mat-cell *matCellDef="let dono">{{ dono.idade }}</td>
  </ng-container>

  <ng-container matColumnDef="imovel">
    <th mat-header-cell *matHeaderCellDef>Imóvel</th>
    <td mat-cell *matCellDef="let dono">{{ dono.imovel }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunas"></tr>
  <tr mat-row *matRowDef="let row; columns: colunas"></tr>
</table>

<!-- Tabela sem o uso de Angular Material
<table class="table table-striped table-bordered" aria-labelledby="tableLabel"
       [hidden]="!donos">
  <thead>
    <th>Nome</th>
    <th>Idade</th>
    <th>Imovel</th>
  </thead>
  <tbody>
    <tr *ngFor="let dono of donos">
      <td>{{ dono.nome }}</td>
      <td>{{ dono.idade }}</td>
      <td>{{ dono.imovel }}</td>
    </tr>
  </tbody>
</table>
-->
