<p *ngIf="!agencias"><em>Carregando...</em></p>

<table class="table table-striped" aria-labelledby="tableLabel"
       [hidden]="!agencias">
  <thead>
    <th>Código Agência</th>
    <th>Nome</th>
    <th>Localização</th>
    <th>Número de Clientes</th>
    <th>Gerente</th>
  </thead>
  <tbody>
    <tr *ngFor="let agencia of agencias">
      <td>{{ agencia.codigoAgencia }}</td>
      <td>{{ agencia.nome }}</td>
      <td>{{ agencia.localizacao }}</td>
      <td>{{ agencia.numeroClientes }}</td>
      <td>{{ agencia.gerente }}</td>
    </tr>
  </tbody>
</table>
